<<<<<<< HEAD
@charset "UTF-8";
/** Holberton Practice Styles
 * ----- Footer
 */

footer {
	background: #FFFFFF;
	height: 60px;
	line-height: 60px;
	width: 100%;
	bottom: 0px;
	position: relative;
	text-align: center;
	border-top: 1px solid #CCCCCC;
=======
footer {
    position: fixed;
    background: white;
    height: 60px;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
}
footer p {
    position: absolute;
    text-align: center;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
>>>>>>> 259c88eda4c8a7941e120e4fcd9cb7103361128e
}
